[2021-02-19 12:27] riturajjain2000 opened #3 "Add Explore Fragment"
Add a blank fragment for this option, just as to provide the functionality of swapping screens as of now. Will add features later.

[2021-02-19 13:09] riturajjain2000 opened #4 "Add Profile Fragment"
Add a blank fragment for this option, just as to provide the functionality of swapping screens as of now. Will add features later.

[2021-02-19 13:11] riturajjain2000 opened #5 "Add Jobs/Internship Fragment"
Add a blank fragment for this option, just as to provide the functionality of swapping screens as of now. Will add features later.

[2021-02-19 13:12] riturajjain2000 opened #6 "Add Community Fragment"
Add a blank fragment for this option, just as to provide the functionality of swapping screens as of now. Will add features later.

[2021-02-20 10:02] riturajjain2000 opened #7 "Add On boarding Screens"
ADD the onboarding screens( 2-3 screens ) to guide the new users about the app and its usage

[2021-02-22 15:56] mukul2310 opened #8 "App crashing on start-up"
**_App is crashing on starting the app._**

Error on Android Studio

![image](https://user-images.githubusercontent.com/44321379/108733455-88566c80-7554-11eb-9663-b39bec6411ca.png)

[2021-02-22 16:07] mukul2310 commented on #8
solved with PR #9

[2021-02-23 04:12] riturajjain2000 commented on #8
Hi @mukul2310 , No such error is coming , plz sync your fork with the latest main branch . And if the error is still there , plz discuss it on the discord server !!

[2021-02-23 14:40] theflash-17 opened #10 "Improvements in 'Contributing Guidelines'"
Some changes to be made in 'CONTRIBUTING.md' for:
- Easier understanding for new contributors
- Better visibility of project

I would like to try make it better.

[2021-02-24 07:29] riturajjain2000 commented on #10
Sure , go ahead!

[2021-02-24 16:08] #10 closed

[2021-02-25 11:38] riturajjain2000 commented on #8
I have reformatted code and added proper naming, so closing this as this is not relevant now!

[2021-02-25 11:38] #8 closed

[2021-02-25 15:20] vipozdn commented on #3
Hello! I can create blank fragment. Should it be opened by default in MainActivity (as we setting explore item by default)?

[2021-02-25 15:30] vipozdn opened #13 "android.app.ProgressDialog' is deprecated as of API 26"
android.app.ProgressDialog' is deprecated as of API 26
Class: LoginActivity

So it's better to use [ProgressBar](https://developer.android.com/reference/android/widget/ProgressBar)

PS i'm interested in fixing this issue
![issue_cr](https://user-images.githubusercontent.com/32436953/109175851-45d0a200-7797-11eb-8dab-9c0681c41910.png)

[2021-02-25 15:38] vipozdn commented on #5
Hello! I can create this blank fragment. Should fragment be created in com.cswala.cswala package?

[2021-02-25 15:42] vipozdn commented on #4
Hello! I can create this blank fragment. Should fragment be created in com.cswala.cswala package? And can i provide opening this fragment on selecting  ChipNavigationBar account-item?

[2021-02-25 15:45] vipozdn commented on #6
I can create this Fragment. And can i provide opening this fragment on selecting ChipNavigationBar inbox-item?

[2021-02-25 15:58] vipozdn opened #14 "Bottom navigation items' ids do not match with titles"
Bottom navigation items' ids do not match with titles and create confusion during development.
in bottom_navigation.xml file there are items with ids: explore (title: explore), saved (title: jobhunt), news (title: HACKFEED), inbox (title: COMMUNITY), account (title: profile).
You can see that ids don't correspond with titles, which creates confusion.
I suggest changing ids like this:
id: jobhunt -

[2021-02-25 16:13] vipozdn opened #15 "The package name is repeated"
Your package name is repeated.
I suggest calling it com.cswala.appname
This is the standard naming convention for java packages. The first is com. Then the developer's name. Then the application name.
[Link for more info](https://stackoverflow.com/a/6273935/9972209)

[2021-02-26 03:24] riturajjain2000 commented on #3
Yes, you have to add just a blank fragment for now, and, yes it will be the default one!
I'll assign this to you as soon as GSSOC starts!

[2021-02-26 03:41] riturajjain2000 commented on #4
yes, for now, there will be just a blank fragment, and it will be opened with account-item, and create it in the same package

[2021-02-26 03:41] riturajjain2000 commented on #5
yes, for now, there will be just a blank fragment, and it will be opened with JOBHUNT, and create it in the same package

[2021-02-26 03:42] riturajjain2000 commented on #6
yes, for now, there will be just a blank fragment

[2021-02-26 03:43] riturajjain2000 commented on #13
Go ahead ! I'll assign it to you as soon as GSSOC begins

[2021-02-26 03:45] riturajjain2000 commented on #14
Go ahead! I'll assign it to you as soon as GSSOC begins. Also, keep titles in Camelcase as some are in caps.

[2021-02-26 03:49] riturajjain2000 commented on #15
Go ahead and change it to `com.cswala.android`  ! I'll assign it to you as soon as GSSOC begins

[2021-02-26 03:50] riturajjain2000 commented on #15
Thanks for raising the issue , I'll fix it as it is connected to the database also !!

[2021-02-26 03:53] #15 closed

[2021-02-26 03:54] riturajjain2000 opened #16 "Add News Fragment"
Add a blank fragment for this item, just as to provide the functionality of swapping screens as of now. Will add features later.

[2021-02-26 08:00] vipozdn opened #17 "minSdkVersion is to high"
In build gradle (module app) minSdkVersion is 26. That means that only users with android 8.0 will be able to install app. I suggest minSdkVersion 22: people with android 5.1 and above will be able to install app.
I can implement this

[2021-02-26 08:33] vipozdn opened #18 "dependencies should be updated"
Some dependencies in build.gradle (module: app) and in build.gradle (project level) should be updated

module: app
A newer version of com.google.android.gms:play-services-base than 17.5.0 is available: 17.6.0
A newer version of com.google.android.gms:play-services-location than 17.1.0 is available: 18.0.0
A newer version of com.google.firebase:firebase-firestore than 22.0.2 is available: 22.1.0
Pl

[2021-02-26 08:36] vipozdn opened #19 "idea files got into the project"
add .idea/ to .gitignore file
[link](https://stackoverflow.com/a/39539084/9972209)
![issue_cr](https://user-images.githubusercontent.com/32436953/109276352-f8037a80-7826-11eb-8f3e-63df943136d9.png)

[2021-02-26 12:44] vipozdn opened #20 "com.google.android.gms.common.api.ApiException: 10:"
Google sign in failed
**Probable reason:** you didn't add SHA certificate fingerprints to firebase console
[check this link for details](https://stackoverflow.com/a/49800546/9972209)

**logcat details**
com.google.android.gms.common.api.ApiException: 10:
        at com.google.android.gms.common.internal.ApiExceptionUtil.fromStatus(com.google.android.gms:play-services-base@@17.5.0:4)
        at com

[2021-02-27 08:41] riturajjain2000 commented on #20
It's already there! There must be some other reason!

[2021-02-27 10:01] riturajjain2000 commented on #17
Ok go ahead ! I'll assign it to you as soon as GSSOC begins!

[2021-02-27 10:02] riturajjain2000 commented on #18
Ok go ahead ! I'll assign it to you as soon as GSSOC begins!

[2021-02-27 10:02] riturajjain2000 commented on #19
Ok go ahead ! I'll assign it to you as soon as GSSOC begins!

[2021-02-27 13:15] KapilYadav-dev commented on #7
Hey Sir @riturajjain2000, I'll do this. Please assign this to me : )

[2021-02-27 14:23] riturajjain2000 commented on #7
I'll assign it to you as soon as the program starts. And no need to call me sir 😅

[2021-02-27 14:37] KapilYadav-dev commented on #7
Sure bro 😄

[2021-02-27 15:40] KapilYadav-dev opened #22 "Upgrade codebase to Java 8"
Hello @riturajjain2000, we can update codebase to Java 8 so that we can take use of much better functions like Lambda expressions...
If you found this one acceptable then please assign this one to me in GSSOC's

[2021-02-27 16:13] riturajjain2000 commented on #22
I don't think that's needed as of now as we'll be shifting to kotlin as soon as we get a basic working model.
Still, if you want to work on it, I'll assign it to you!

[2021-02-27 16:39] KapilYadav-dev commented on #22
Then this'll be of no use, I guess !!
As we'll be shifting to Kotlin, so I'm closing this issue...

[2021-02-27 16:39] #22 closed

[2021-02-27 16:49] KapilYadav-dev opened #23 "All in one intent class"
@riturajjain2000  we can implement one class only for **intent** purpose...
This will reduce **recurring** code.

[2021-02-27 16:58] KapilYadav-dev opened #24 "Improvement in Splash Screen"
@riturajjain2000  Can we add some cool animation stuff on splash screen rather than lottie animation...
It seems quite awkward, when that lottie animation suddenly shake its hand...

[2021-02-27 17:02] KapilYadav-dev commented on #16
I'll do this, Please assign this issue in GSSOC'21.

[2021-02-28 07:31] vipozdn opened #25 "Don't make PR's if the issue is not assigned to you and before the coding period begins!"
Don't make PR's if the issue is not assigned to you and before the coding period begins!

_Originally posted by @riturajjain2000 in https://github.com/CSwala/CSwala-android/issues/21#issuecomment-787047982_

This is not mentioned in Contributing Guildelines. I think You should add this to  CSwala-android/CONTRIBUTING.md.

[2021-02-28 07:44] vipozdn commented on #20
1. Did you create new OAuth Client ID to API Console?

This status code means that you are providing unknown server client id. In https://console.developers.google.com/apis/credentials in your project you might need to generate: OAuth client ID -> android and use this client id in your Android app.

2. After adding sha1 certificate to firebase project you should update your google-services.json fi

[2021-02-28 08:22] riturajjain2000 commented on #25
"Kindly wait for the approval from the maintainers of this project before starting to work on any issue."

It is mentioned there.

[2021-02-28 08:23] riturajjain2000 commented on #23
Ok go ahead ! I'll assign it to you as soon as GSSOC begins!

[2021-02-28 08:24] riturajjain2000 commented on #24
😂😂
Ok go ahead ! I'll assign it to you as soon as GSSOC begins!

[2021-02-28 08:29] riturajjain2000 commented on #20
I tried adding it after you told me to , but it told that the SHA-1 key is already connected to another id , meaning its already there .

[2021-02-28 08:31] riturajjain2000 commented on #20
You have to add both: debug SHA-1, SHA-2 and release SHA-1, SHA-2 (if u've added only release certificates, your debug-build google auth will not work)

Updated json file only is added. So this is because of something  else

[2021-02-28 09:12] KapilYadav-dev commented on #23
Sure @riturajjain2000  😄

[2021-02-28 17:21] kunal299 commented on #3
@riturajjain2000 Can I work on this issue as a part of Gssoc'21?

[2021-02-28 17:22] kunal299 commented on #16
@riturajjain2000 I would love to contribute to this issue. Could you plz assign this issue to me?

[2021-03-01 04:40] riturajjain2000 commented on #3
@kunal299 Thanks for showing interest in this one!
Let GSSOC begins and once I get to know the list of accepted participants for this project, I'll assign this issue accordingly.

[2021-03-01 04:41] riturajjain2000 commented on #16
@KapilYadav-dev @kunal299 Thanks for showing interest in this issue!
Let GSSOC begins and once I get to know the list of accepted participants for this project, I'll assign this issue accordingly.

[2021-03-01 08:37] kunal299 commented on #3
@riturajjain2000 sure :)

[2021-03-01 13:10] viralkumar28 commented on #16
I can do this, can you assign this to me??

[2021-03-01 13:12] viralkumar28 commented on #18
I would like to contribute, could you assign this to me??

[2021-03-01 13:58] riturajjain2000 commented on #16
@viralkumar28 Thanks for showing interest in this issue!
Let GSSOC begins and once I get to know the list of accepted participants for this project, I'll assign this issue accordingly.

[2021-03-01 13:58] riturajjain2000 commented on #18
@viralkumar28 Thanks for showing interest in this issue!
Let GSSOC begins and once I get to know the list of accepted participants for this project, I'll assign this issue accordingly.

[2021-03-02 05:10] viralkumar28 commented on #24
I am also want to work on this issue.

[2021-03-02 05:12] viralkumar28 commented on #6
I would like to contribute in this issue, would you assign this to me.

[2021-03-02 05:13] viralkumar28 commented on #4
Can you assign this issue to me..

[2021-03-02 05:13] viralkumar28 commented on #3
Can you assign this to me?

[2021-03-02 05:14] riturajjain2000 commented on #3
@viralkumar28 Thanks for showing interest in this issue!
Let GSSOC begins and once I get to know the list of accepted participants for this project, I'll assign this issue accordingly.

[2021-03-02 05:14] riturajjain2000 commented on #4
@viralkumar28 Thanks for showing interest in this issue!
Let GSSOC begins and once I get to know the list of accepted participants for this project, I'll assign this issue accordingly.

[2021-03-02 05:15] riturajjain2000 commented on #24
@viralkumar28 Thanks for showing interest in this issue!
Let GSSOC begins and once I get to know the list of accepted participants for this project, I'll assign this issue accordingly.

[2021-03-02 05:15] riturajjain2000 commented on #6
@viralkumar28 Thanks for showing interest in this issue!
Let GSSOC begins and once I get to know the list of accepted participants for this project, I'll assign this issue accordingly.

[2021-03-08 11:37] #25 closed

[2021-03-08 13:23] GowthamGoush commented on #18
May I work on this issue?

[2021-03-08 13:26] GowthamGoush commented on #5
May I work on this issue as a participant of GSSoC '21?

[2021-03-08 14:30] riturajjain2000 commented on #5
sure go ahead!

[2021-03-08 14:31] riturajjain2000 commented on #18
sure
go ahead!

[2021-03-08 14:37] sakshi2707 commented on #17
Hey, I'm a GSSoC`21 participant and want to contribute to this . can you please assign me this issue?

[2021-03-08 14:38] sakshi2707 commented on #24
I want to work on this issue

[2021-03-08 14:47] jonathanalvares9009 commented on #14
I've been selected for GSSoC'21. I would like to solve this issue. Can you assign it to me?

[2021-03-08 14:55] jonathanalvares9009 commented on #19
Can I do this?

[2021-03-08 14:56] jonathanalvares9009 commented on #17
Can I work on this issue?

[2021-03-08 15:00] jonathanalvares9009 opened #27 "Change find ViewById to Binding"
So that it doesn't have to find the view during run time n eventually makes it faster.

[2021-03-08 15:01] jonathanalvares9009 commented on #27
I would like to work on this issue

[2021-03-08 15:06] riturajjain2000 commented on #24
sure , go ahead !

[2021-03-08 15:15] riturajjain2000 commented on #19
sure , go ahead!

[2021-03-08 15:24] riturajjain2000 commented on #27
I think we should leave this as of now as our app is also having sections like `news` and `job update` and that may need dynamic UI's which is not possible with View Binding

[2021-03-08 15:25] riturajjain2000 commented on #14
sure , go ahead!

[2021-03-08 15:26] riturajjain2000 commented on #17
sure , go ahead!

[2021-03-08 16:24] jonathanalvares9009 commented on #19
Sir made the changes

[2021-03-08 16:31] jonathanalvares9009 commented on #27
Ok sir

[2021-03-08 16:32] #27 closed

[2021-03-08 16:34] jonathanalvares9009 opened #30 "Github login is not working"
Sir, I would like to work on this issue

[2021-03-08 16:35] jonathanalvares9009 opened #31 "Strings are hardcoded"
I would like to put these strings in strings.xml

[2021-03-08 18:41] jatinjain29 commented on #13
@riturajjain2000 @vipozdn
Hello, I am a GSSOC participant and would like to work on this issue. Could you please assign it to me?

[2021-03-08 23:14] KapilYadav-dev commented on #7
@riturajjain2000 please provide me content for that purpose, or should I use dummy data on onboarding screens ?

[2021-03-09 04:20] MukulKolpe commented on #16
Hey @riturajjain2000 , can you please assign this issue to me, If @kunal299 is not working on it??

[2021-03-09 04:41] kunal299 commented on #16
@MukulKolpe I m working on this issue.

[2021-03-09 04:43] MukulKolpe commented on #16
Okay!! @kunal299

[2021-03-09 07:11] riturajjain2000 commented on #30
I can assign max. 2 issues to a participant at a time, plz fix other issues to get this assigned to you!

[2021-03-09 07:15] riturajjain2000 commented on #7
Use dummy data for now with 3 pages in it !

[2021-03-09 07:16] riturajjain2000 commented on #31
I can assign max. 2 issues to a participant at a time, plz fix other issues to get this assigned to you!

[2021-03-09 07:19] riturajjain2000 commented on #13
Go ahead !

[2021-03-09 07:19] #20 closed

[2021-03-09 07:45] ritmojs commented on #31
I would like to work on this issue.

[2021-03-09 08:06] #19 closed

[2021-03-09 12:35] fin1te commented on #31
I would like to work on this, Please assign this to me, Thanks!

[2021-03-09 12:41] ritmojs commented on #31
This issue is already assigned to me and I have already made a pull request for this issue.

[2021-03-09 12:45] fin1te commented on #24
I want to try this as well, thanks.

[2021-03-09 12:55] adiig7 commented on #30
Can i work on this issue?

[2021-03-09 13:35] jonathanalvares9009 commented on #30
I'm working on this issue

[2021-03-09 14:03] jonathanalvares9009 opened #44 "Minimum SDK level to be changed from 22 to 23"
![Screenshot 2021-03-09 at 7 32 35 PM](https://user-images.githubusercontent.com/74007627/110482064-401b7a80-810e-11eb-93d2-4162cc911797.png)

Can you assign me this issue?

[2021-03-09 14:10] riturajjain2000 commented on #44
Go ahead!

[2021-03-09 14:41] #18 closed

[2021-03-09 14:51] jagatjeeban commented on #44
Hey @riturajjain2000 ! I want to work on this .
Can you please assign this issue to me ?

[2021-03-09 14:52] #31 closed

[2021-03-09 15:08] riturajjain2000 commented on #6
Wait I am opening new issues , plz look into them

[2021-03-09 15:27] riturajjain2000 opened #47 "Add PR Template"
Add a template for Pull Requests. For details switch to discord group

[2021-03-09 15:35] riturajjain2000 opened #48 "Add data for the backend"
The database of this app is hosted on GitHub only as of now -

- https://github.com/CSwala/awesome-computer-science
- https://github.com/CSwala/awesome-career-pages

There are around 80 open issues in the above 2 repos.
We need to add as much data as we can.
This issue can be assigned to multiple participants at a time as is not at all related to any 1 tech stack. Participants from all sorts of te

[2021-03-09 15:36] riturajjain2000 commented on #47
sure , go ahead!

[2021-03-09 15:37] fin1te opened #49 "App not running : Manifest merger failed"
App is not running on emulator, It gives this error when building the app to run in emulator :

`Manifest merger failed : uses-sdk:minSdkVersion 22 cannot be smaller than version 23 declared in library [com.ismaeldivita.chipnavigation:chip-navigation-bar:1.3.4] C:\Users\91836\.gradle\caches\transforms-2\files-2.1\f3d0c701b069e20b3313c0c404864979\jetified-chip-navigation-bar-1.3.4\AndroidManifest.x

[2021-03-09 15:38] fin1te commented on #48
I want to do this, please assign me. Thanks!

[2021-03-09 15:43] namitgpta commented on #48
I want to work on this, please assign me ASAP. Thanks!!

[2021-03-09 16:04] riturajjain2000 commented on #48
Go ahead @namitgpta @fin1te

[2021-03-09 16:05] #49 closed, assigned to nobody

[2021-03-09 16:06] namitgpta opened #50 "Google login not working for me"
I installed the app on my phone through android studio by forking the project. It installed successfully without any issues on my Android 10 phone but when I open the app and login through Google, it doesn't show anything after that. Please help regarding this issue.
I have attached screenshot of Android studio also during the login process:
<img width="960" alt="Screenshot 2021-03-09 213605" src=

[2021-03-09 16:12] riturajjain2000 commented on #50
Ok , its not working for me either , Go ahead to work on it !

[2021-03-09 16:23] fin1te opened #51 "Add Fade-in Animation to Login buttons in LoginActivity"
Adding fade-in animation to both login buttons will look good ( one after the other ), I can do this, please assign me this, thanks!

[2021-03-09 16:40] jonathanalvares9009 commented on #48
Can you assign me this issue?

[2021-03-09 17:00] adiig7 commented on #47
@riturajjain2000 how to contact you on discord?

[2021-03-09 17:20] namitgpta commented on #50
Is the SHA fingerprint added in the project settings in the firebase - Your Apps section??

[2021-03-09 20:07] Anju1415 commented on #3
I'm also interested to contribute in this project . can you assign this to me?

[2021-03-09 20:08] Anju1415 commented on #4
interested

[2021-03-09 20:11] Anju1415 commented on #5
can i work on this as a  GSSoc participant?

[2021-03-09 20:13] Anju1415 commented on #50
I would also like to work on this .

[2021-03-10 05:56] iamvs-2002 commented on #50
If no one else is working on it, kindly assign it to me.

[2021-03-10 07:08] riturajjain2000 commented on #50
@namitgpta is working on it ,choose another issue

[2021-03-10 07:19] iamvs-2002 commented on #50
Alright!

[2021-03-10 07:19] riturajjain2000 commented on #5
@GowthamGoush is working on it ! Choose another issue or create one

[2021-03-10 07:20] riturajjain2000 commented on #4
@viralkumar28 is working on it!

[2021-03-10 07:48] riturajjain2000 commented on #50
They are both there!

[2021-03-10 07:55] riturajjain2000 commented on #47
The invite link to the discord server is in the readme, from there you can join the server.

[2021-03-10 07:58] riturajjain2000 commented on #51
go ahead!

[2021-03-10 08:52] Junaid55 opened #58 "Update The Launcher Icon"

[2021-03-10 08:56] Junaid55 commented on #58
Launcher icon is so simple so i want to add some aesthetic touch to it so assigned it to me.

[2021-03-10 09:23] adiig7 opened #59 "Update the font family"
The font family currently used in the app doesn't really seem to be good. We can have better font for the texts.

[2021-03-10 09:24] adiig7 commented on #59
@riturajjain2000 please look into this if it is valid and assign it to me.

[2021-03-10 13:24] #23 closed

[2021-03-10 13:26] #51 closed

[2021-03-10 13:37] riturajjain2000 commented on #59
I am using the `press start 2P` font intentionally as it gives a retro type vibe to the app according to me

[2021-03-10 13:45] adiig7 commented on #30
@jonathanalvares9009 Have you done it? If not can i take up this one?

[2021-03-10 13:46] adiig7 commented on #16
@kunal299 bro have you done it? If not, may I take up this one?

[2021-03-10 14:06] Junaid55 commented on #58
do I again need to change the launcher icon and push it please tell me

[2021-03-10 14:07] Junaid55 commented on #58
i previously make a pr but you suggest me to first create an issue and assign it
and thanks for assigning this issue to me

[2021-03-10 14:18] riturajjain2000 commented on #58
Just change the base branch from main to develop

[2021-03-10 14:31] Khushi-24 opened #60 "Adding a Email Login Option"
When we use Google and Facebook Login the code is needed to be updated after a period of time. Login with email can be a substitution for this problem(if the code is not updated at least there would be one option available through which the user can log in to the app).

[2021-03-10 14:48] fin1te commented on #30
Let me know when this issue is resolved, thanks!

[2021-03-10 14:51] fin1te commented on #60
We can have this option simultaneously with the GitHub & Google login options imo, as it is comparatively more easy and efficient to login via a 3rd party than Email

[2021-03-10 14:58] kunal299 commented on #16
@adiig7 Yes, little bit left.

[2021-03-10 15:27] Junaid55 commented on #58
I miskenly unassign myself please re assign me

[2021-03-10 15:54] #13 closed

[2021-03-10 16:16] iamvs-2002 commented on #50
Ohh okay.

[2021-03-10 16:23] KapilYadav-dev commented on #60
@Khushi-24  will you design UI also for this or just simple UI with functioning...

[2021-03-10 16:35] GowthamGoush commented on #5
Just to make sure, should the fragment be created with the name "JOBHUNT" with all characters in the capital?

[2021-03-10 18:10] Rads1208 commented on #48
I am interested. can you assign this to me?

[2021-03-10 18:52] etamys opened #62 "Adding a API and Fetch data"
I think we need to Create a API . Where we can put list of YouTube channels or other Resources, Then we can fetch data From API.
it's Remove the burden of updating Resource list again and again , by Using API we have to just Update the list on server

[2021-03-10 18:54] #62 closed

[2021-03-11 04:47] adiig7 commented on #30
@riturajjain2000 it is been 2 days and the issue hasn't been resolved yet and there isn't any update from @jonathanalvares9009 too. Can i complete this issue?

[2021-03-11 06:18] rasikabakre commented on #24
I would also like to work on this issue, kindly assign it to me.

[2021-03-11 07:25] riturajjain2000 commented on #5
It doesn't really matter , as all we want to have is a blank fragment which will be displayed when jonhunt from the navbar is clicked!

[2021-03-11 07:28] riturajjain2000 commented on #48
Yes we have to do smthng like that only as there is no means of connecting GH repo as DB to android as I know , but this issue is  just for collecting data .

[2021-03-11 07:28] riturajjain2000 commented on #48
Sure , go ahead !

[2021-03-11 07:30] riturajjain2000 commented on #62
Yes we have to do smthng like that only as there is no means of connecting GH repo as DB to android as I know , but #48 issue is just for collecting data . Once it is added to the repo than we can add that to the server

[2021-03-11 07:44] riturajjain2000 commented on #30
Wait for 1 more day , If he is still unable to make a PR then I'll reassign it!

[2021-03-11 07:45] riturajjain2000 commented on #24
@sakshi2707 is working on it , if she's unable to make a PR in 1 day then I'll reassign this.

[2021-03-11 08:50] jonathanalvares9009 commented on #30
@riturajjain2000 I have tried for the past two days to implement github authorisation but I'm unable solved it deosn't work completely. You can assign it to @adiig7 I also want to learn how to implement github.

[2021-03-11 08:53] adiig7 commented on #30
@riturajjain2000 please assign it to me.

[2021-03-11 08:57] jonathanalvares9009 commented on #30
@adiig7 just start implementing it

[2021-03-11 09:09] riturajjain2000 commented on #30
ok

[2021-03-11 09:18] Khushi-24 commented on #60
@KapilYadav-dev  Do you want to design UI ?

[2021-03-11 11:19] fin1te commented on #30
Let me try next if the issue is not resolved, Thanks!

[2021-03-11 11:25] fin1te commented on #60
@Khushi-24 I can design the UI, let me know if I can help out.

[2021-03-11 11:51] fin1te commented on #50
Let me know when this is resolved.

[2021-03-11 12:03] fin1te opened #65 "Main Activity text does not fit for most current device sizes"
![image](https://user-images.githubusercontent.com/62439440/110784196-66b4ef00-828f-11eb-8e36-0ee54950cf62.png)

Texts in the bottom Navigation Bar does not fit the screen sizes for many currently used device sizes, I would like to fix this Issue by removing the text, making icons a little big and having them in centre, and add a Toaster for the option names on long press. this way the UI will loo

[2021-03-11 12:21] KapilYadav-dev commented on #60
@Khushi-24  I can do XML part as well Figma part...
Let me know where can I help you...  :)

[2021-03-11 13:09] KapilYadav-dev commented on #48
Ooh Got it ...

[2021-03-11 13:14] riturajjain2000 commented on #30
sure

[2021-03-11 13:34] riturajjain2000 commented on #65
How are you getting this error , as only explore should be written in text , rest should be only icons

![Screenshot_1615469608](https://user-images.githubusercontent.com/48384309/110795138-856db280-829c-11eb-8f2a-d5327318fbb8.png)

# Like this

[2021-03-11 14:55] GowthamGoush commented on #5
So I have made a switch statement for the fragment under onItemSelected listener and added empty cases for the rest of the fragments as well. Is that alright?

[2021-03-11 15:21] riturajjain2000 commented on #5
Yup , thats fine by me !

[2021-03-11 15:37] adiig7 commented on #30
@fin1te I'm already on to it.

[2021-03-11 15:50] fin1te commented on #65
@riturajjain2000
![image](https://user-images.githubusercontent.com/62439440/110814435-72b0a900-82af-11eb-9fdd-7b9b3efc34e0.png)
this is the main activity xml I see in my AS,

I Fetched the develop branch and merged from upstream again, still I see this one

[2021-03-11 16:03] riturajjain2000 commented on #65
Did you run this on a physical device or not, as Studio typically is not compatible with external Libraries. So prefer running it on an emulator or physical device for UI testing!

[2021-03-11 16:22] fin1te commented on #65
Since neither Google or GitHub login is working, I'm not able to check the main activity in Physical device / Emulator

[2021-03-11 17:46] GowthamGoush opened #67 "Add Logout button to profile fragment"
<div align="center">
<h4>The logout textview in the main activity is located right in the centre of the screen which hinders the visibility of the contents inside the fragments that are associated with the navbar. </h4>
<h4>I prefer to have a floating action button on the top left of the screen so that it becomes compact and provides less hinderence. Also switching to any other view/view-group wil

[2021-03-11 17:49] GowthamGoush commented on #67
Mentors, can you leave any suggestion for this issue?

[2021-03-11 19:21] etamys commented on #65
please assign it to me i will fix it.

[2021-03-11 21:26] fin1te commented on #65
@etamys which one of the above nav bar you see in yours?

[2021-03-12 09:22] riturajjain2000 commented on #67
Remove  the logout text from the main activity and add it to profile frag as a button

[2021-03-12 09:24] riturajjain2000 commented on #65
for testing sake you can check it by making it the default activity

[2021-03-12 09:51] GowthamGoush commented on #67
Is the profile fragment been added?

[2021-03-12 09:54] riturajjain2000 commented on #67
Not yet, you can add it if you want , just get that issue assigned to yourself

[2021-03-12 10:03] GowthamGoush commented on #67
It seems like already someone is working on it. Shall I wait until it added, or shall I create a logout button inside mainactivity that displays only on clicking the profile?

[2021-03-12 10:07] riturajjain2000 commented on #67
Please wait until its added

[2021-03-12 13:35] rohank2502 opened #68 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 13:35] rohank2502 opened #69 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 13:44] fin1te commented on #65
@riturajjain2000  but how will we edit it, if we need to edit it and can not see it in android studio

[2021-03-12 14:03] riturajjain2000 commented on #68
In the readme ??

[2021-03-12 14:03] riturajjain2000 commented on #69
OK go ahead!

[2021-03-12 14:05] riturajjain2000 commented on #65
Why not , you can do anything that you want just like if logins were working , Im just asking to change Launcher activity in the `manisfest`  for testing sakes

[2021-03-12 14:37] rohank2502 commented on #69
Thanks !!

[2021-03-12 14:38] rohank2502 commented on #68
Yes !!

[2021-03-12 14:39] riturajjain2000 commented on #68
Ok go for it!

[2021-03-12 15:06] rohank2502 commented on #68
Thanks !!

On Fri, Mar 12, 2021 at 8:10 PM Rituraj Jain ***@***.***>
wrote:

[2021-03-13 07:49] #50 closed

[2021-03-13 08:24] GowthamGoush opened #74 "Create landscape variation for login activity"
<div align = "center">
<h3> Some view elements get messed or not visible upon rotation </h3>

This issue is more common in low-resolution mobile devices.
Adding landscape variation would enhance the user experience.

<img src="https://user-images.githubusercontent.com/63305824/111024378-7e61b400-8404-11eb-8915-ee89f128d1ff.png" data-canonical-src="https://gyazo.com/eb5c5741b6a9a16c692170a41a49c858

[2021-03-13 08:39] riturajjain2000 commented on #74
We are going to have a login using email button also , so I'll suggest doing this after that is added

[2021-03-13 10:14] iamvs-2002 commented on #50
@riturajjain2000 May I reopen this issue and work on it?

[2021-03-13 11:12] namitgpta opened #76 "Add Login through Facebook Also"
If the admin wants, then I can add Login through Facebook also. I have earlier implemented it in one of my projects. So I know fully how to implement FB login.

[2021-03-13 13:49] riturajjain2000 commented on #50
Its fixed !

[2021-03-13 13:54] riturajjain2000 commented on #76
I don't think that's needed, as this is a CS oriented app, so no need for any unwanted profile logins. You can close this

[2021-03-13 14:25] #76 closed

[2021-03-13 14:26] #69 closed

[2021-03-13 14:40] #47 closed

[2021-03-13 15:11] iamvs-2002 commented on #50
Okay.

[2021-03-13 15:13] iamvs-2002 commented on #65
If no one is working on this, kindly assign it to me.

[2021-03-13 15:15] riturajjain2000 commented on #65
First we have to verify if it really is a issue or not !

[2021-03-13 15:20] iamvs-2002 commented on #65
Okay, but I think it is and it can be avoided by using nested layouts.

[2021-03-13 15:24] riturajjain2000 commented on #65
Confirm it first using a small screen device

[2021-03-13 15:40] iamvs-2002 commented on #65
Done!
Also, the solution I gave, i.e. nested layouts, it works now!

[2021-03-13 16:51] riturajjain2000 commented on #65
send a ss of small screen display having that issue !

[2021-03-13 19:40] tanishq-123 commented on #60
If this issue is not resolved yet then i would like to take this one.

[2021-03-14 07:22] shubh3483 opened #78 "Google login not working"
Hello sir, when I was trying to login with google then after selecting the account nothing is happening. Could you please assign it to me under GSSOC'21?

[2021-03-14 10:22] riturajjain2000 commented on #78
Its working perfectly fine
DM me you SHA key , then you'll be able to login

[2021-03-14 10:22] #78 closed

[2021-03-14 16:53] #4 closed

[2021-03-14 16:53] #6 closed

[2021-03-15 08:57] RashikaJoshi-777 opened #81 "google icon"
in the login page the google icon is red but it will look better in it's original form that is coloured so may i change it to coloured

[2021-03-15 09:49] viralkumar28 commented on #3
Hey, I want to work on this issue.

[2021-03-15 09:49] viralkumar28 commented on #16
Hey, I want to work on this issue.

[2021-03-15 10:16] RashikaJoshi-777 commented on #65
![Screenshot_20210315-153635 1](https://user-images.githubusercontent.com/75016031/111138139-97ee3180-85a5-11eb-898a-853e43567723.png)

[2021-03-15 10:17] RashikaJoshi-777 commented on #65
it's working perfectly on small screen devices

[2021-03-15 12:10] iamvs-2002 commented on #65
I see, it certainly does.
I got it now, I actually too just worked on the layout for the Pixel 3 and hence felt it's an error.
I tried running it on the Pixel, Nexus 6, and Pixel 4XL emulators, it works fine.

[2021-03-15 12:47] fin1te commented on #30
@adiig7 any updates?

[2021-03-15 15:22] #68 closed

[2021-03-15 15:26] riturajjain2000 commented on #65
ok , then I dont see a point for this issue to remain open

[2021-03-15 15:26] #65 closed

[2021-03-15 15:35] kunal299 commented on #16
@riturajjain2000 Hey I'm done with it.

[2021-03-15 15:40] riturajjain2000 commented on #16
then send PR

[2021-03-15 15:43] kunal299 commented on #16
@riturajjain2000 give me 5 min

[2021-03-15 15:47] hemant2705 opened #84 "on Back Pressed"
Currently app is not able to exit while pressing the back button.
we can add on onbackpressed fuction to resolve it.
Please assign this task to me and label it accordingly .
thanks in advance.

[2021-03-15 15:57] hemant2705 commented on #84
thanks for assigning this to me.
please check the pr regarding this.

[2021-03-15 15:57] #3 closed

[2021-03-15 16:21] riturajjain2000 commented on #81
we are tryimg to have a uniform theme , so I think its better if we maintain a common color for icons

[2021-03-15 16:21] #81 closed

[2021-03-15 16:22] riturajjain2000 opened #87 "Add logout button to profile fragment"
remove logout text from main activity and add it to profile fragment, also remove the `PROFILE` text from the top of the fragment

[2021-03-15 16:26] #16 closed

[2021-03-15 16:30] viralkumar28 commented on #87
Can i do this??

[2021-03-15 17:45] GowthamGoush opened #91 "Add fragment transition animation"
## Adding animation to fragments can improve the user experience of the navigation bar in the main activity

[2021-03-15 17:45] Junaid55 commented on #58
Sir i alredy fix the issue do i need to close the issue

[2021-03-15 18:04] GowthamGoush opened #92 "Create landscape variation for main activity"
<div align = "center">
<h3> Adding landscape variation eliminates view elements getting messed or becoming inaccessible upon rotation </h3>

This issue is more common in low-resolution mobile devices.
Adding landscape variation would enhance the user experience.
This issue is similar to #74

</div>

[2021-03-16 06:15] riturajjain2000 commented on #87
Ok yeah !

[2021-03-16 06:15] #87 closed

[2021-03-16 06:49] #84 closed

[2021-03-16 06:52] riturajjain2000 commented on #58
I dont think its fixed , as the PR is still open

[2021-03-16 06:53] riturajjain2000 commented on #92
Not needed as of now , as we have to decide the working of fragments also , so do it after that

[2021-03-16 07:00] GowthamGoush commented on #92
Yeah sure

[2021-03-16 09:21] GowthamGoush opened #93 "Enable progress dialog while logging in"
<div align = "center">
<h3> Enhances user experience while logging in. </h3>
Add progress dialog to the following login options.
<br>
         ⦿ Google
         ⦿ Github
         ⦿ Email
</div>

[2021-03-16 11:55] hemant2705 opened #94 "Basic Refactoring Required"
As many people are contributing it, will be good if we can refactor our code into few packages like
1. Common - Having Main Activity ,Login Activity ,OTP verification , splash screen and all common items.
2. Fragments - Having all the frames and fragments under one package

Please Assign this to me and mark down accordingly.

[2021-03-16 13:34] riturajjain2000 commented on #94
I'll suggest having category as Activities  rather than `Common`

[2021-03-17 07:43] SanjayDevTech commented on #48
Can i work on this issue... Could you assign this?

[2021-03-17 09:38] ayushman999 opened #97 "Creating and implementing hackfeed fragment."
I would like to work on the Hackfeed fragment.
I'll create a hackfeed fragment and add one recycler view in it where the admin can post different articles and when clicked on it will open an activity where the detailed article will be present. I'll use an image, title, and a small description about the feeds with a like button as the basic patterns of the recyclerview. This is my idea about the ha

[2021-03-17 10:21] riturajjain2000 commented on #97
discuss the features on Discord

[2021-03-17 10:35] GowthamGoush opened #98 "Fix bug related to Google Sign In"
<div align = "center">
<h2> Issue </h2>
<h3>After the user signs in with an ID, then he/she cannot log in with another one unless he/she clears the app data or reinstalls the app.</h3>
<br>
<h2> Expected Behaviour </h2>
<h3>Once the user logs out and if he/she wants to log in again, they should be prompt with a dialog for the account to be chosen on pressing the button without directly directing t

[2021-03-18 05:25] #94 closed

[2021-03-18 05:28] ayushman999 opened #99 "Creating and implementing explore fragment."
I want to contribute to this functionality. I'll be storing the data in Firebase firestore and create a fragment with a search bar that will provide the resources stored on firebase for that particular tech.
For the representation, I'll be using a recycler view to show the data.
For future updates, I can add images too in the recycler view.

[2021-03-18 06:59] hemant2705 opened #100 "Creating Profile Fragment"
I want to add the profile fragment which will hold the name and email id of the logged in user.

[2021-03-18 07:04] riturajjain2000 commented on #100
discuss it on the Discord server

[2021-03-18 09:51] hemant2705 commented on #100
I started working on it can you assign it to me please.

[2021-03-18 09:56] hemant2705 opened #101 "Removing the logout textview"
Currently there is a text view stating logout inside the frame layout of main activity.java file.
which is overlapping the contents of different fragments .
Possible solutions:
1. Removing that text view as it doesn't seems any valuable right now.
2. Instead of removing we can just elevate the frame layout .

please assign this to me by adding tags accordingly

[2021-03-18 10:29] hemant2705 opened #102 "Default Fragment"
Currently when app is opening their is no fragment shown and after clicking menu items it is showing the fragment content respectively.
setting a default fragment can help .
We can put explore fragment as our Default fragment and when app will restart we can it will open the explore fragment .

please assign this to me by adding tags accordingly

[2021-03-18 10:42] riturajjain2000 commented on #101
same as #67

[2021-03-18 10:42] #101 closed

[2021-03-18 10:47] riturajjain2000 commented on #102
Ok make the explore frag. as default

[2021-03-19 09:20] aditya-190 opened #104 "UI Enhancement: Navigation Bar"
We can change the Navigation Bar from ChipNavigation to Meow Navigation (Simple and Curved Navigation Bar with Animated Transitions on Click).

**Check This App** :  https://play.google.com/store/apps/details?id=com.bhardwaj.memento

If you are interested I have done implementing it and can make PR.

@GSSOC'21 Participant

[2021-03-19 09:22] riturajjain2000 commented on #104
Let the basic functionality of the app be completed , then we can work on enhancing the UI

[2021-03-19 09:29] aditya-190 commented on #104
Sure

[2021-03-19 09:52] aditya-190 commented on #104
@riturajjain2000 Should I convert the project to Kotlin???

[2021-03-19 10:06] riturajjain2000 commented on #104
That can be done after the participants are selected , that's from 1st of April, as most beginners find it difficult to work with kotlin

[2021-03-19 13:51] GowthamGoush commented on #67
In issue #87, you have mentioned a few more things that need to be accomplished. So could you mention that here again so that I can add/fix that within this issue?

[2021-03-19 14:57] riturajjain2000 commented on #67
No additional changes , you have to remove logout text from main activity and add it to profile fragment

[2021-03-19 18:17] fin1te commented on #30
@riturajjain2000  if it is not yet done, can I try this?

[2021-03-19 19:14] fin1te opened #107 "Resource ID name has wrong spelling"
There is s mistake in code where in MainActivity and Menu's BottomNavigation the community tab's ID is given in wrong spelling "commun**tiy**", assign me this I'll refractor it and make a PR.

[2021-03-19 19:16] fin1te commented on #107
![image](https://user-images.githubusercontent.com/62439440/111831686-b9d51480-8915-11eb-85d5-79401951ad8a.png)
![image](https://user-images.githubusercontent.com/62439440/111831691-bb9ed800-8915-11eb-801a-f3716b63062f.png)
![image](https://user-images.githubusercontent.com/62439440/111831696-bcd00500-8915-11eb-8201-81e8f8297061.png)

[2021-03-21 06:09] RashikaJoshi-777 opened #108 "get the title fixed"
in the logout screen when we click hackfeed the title still shows jobhunt instead of hackfeed . i want to fix this please assign this issue to me (i am GSSOC participant)
![Screenshot_20210321-083606 1](https://user-images.githubusercontent.com/75016031/111895652-13cefa80-8a3a-11eb-8beb-7928b9d9239b.png)

[2021-03-21 07:26] GowthamGoush opened #109 "Check for network strength"
#### ➡️ Check if the user has a proper internet connection.
#### ➡️  The user should be notified about the network connection in both the scenario (i.e., logged in already and yet to login).
#### ➡️  Add a snack bar to notify.

[2021-03-21 07:29] #67 closed

[2021-03-21 07:29] #98 closed

[2021-03-21 07:37] riturajjain2000 commented on #108
No need to fix this as we'll anyway be removing this when we'll add functioning to it, so no need to fix this !

[2021-03-21 07:37] #108 closed

[2021-03-21 12:51] RashikaJoshi-777 opened #111 "To add edit profile option"
after the profile fragment is build i want to add edit profile option to the fragment [GSSOC'21]

[2021-03-21 14:41] riturajjain2000 commented on #111
I'll assign you the issue after the work is done

[2021-03-21 18:21] RashikaJoshi-777 opened #112 "Adding calendar feature for CP"
As this app is to Get Latest Updates about Everything there exits in Computer Science, it will be good to add a feature with a calendar which shows all the contest from different websites (such as codeforces, codechef etc.) which will occur in upcoming dates and also shows which all contest a user attempted and which all a user missed also a reminder can be set for a contest (if user wants).
pleas

[2021-03-21 18:43] ddvader44 commented on #112
good idea, where will you be adding all of this?

[2021-03-22 01:25] khareyash05 opened #113 "update contributing.md"
Hi ! I would like to create a file named contributing.md which will
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of G

[2021-03-22 04:46] ddvader44 commented on #113
modify the existing contributing.md and raise a pr

[2021-03-22 05:24] riturajjain2000 commented on #112
any idea how are you going to implement this?

[2021-03-22 05:51] riturajjain2000 opened #114 "Implement Jobhunt Fragment"
**Implement the Jobhunt Fragment.
Before taking the issue, discuss your implementation idea on the Discord Server**

[2021-03-22 05:53] riturajjain2000 opened #115 "Implement Hackfeed Fragment"
**Implement the Hackfeed Fragment.
Before taking the issue, discuss your implementation idea on the Discord Server**

[2021-03-22 05:53] riturajjain2000 opened #116 "Implement Community Fragment."
**Implement the Community Fragment.
Before taking the issue, discuss your implementation idea on the Discord Server**

[2021-03-22 05:55] riturajjain2000 opened #117 "Implement the Tech Data/Resources Activity."
Implement the Data Activity. It consists of the resources from the DB.
**Before taking the issue, discuss your implementation idea on the Discord Server**

[2021-03-22 06:19] RashikaJoshi-777 commented on #112
after the profile fragment we can add a another fragment for contest which includes all this information

[2021-03-22 06:44] RashikaJoshi-777 commented on #112
In the fragment there will be a calendar which will show number of contest on each date . On clicking on the specific date we will have all the details of all the contests like which website is organizing the contest, it's timing  and a button to add reminder of the contest in which user is interested also in case user miss the contest user will get to know what all contest user missed.

[2021-03-22 10:55] khareyash05 commented on #113
@ddvader44 I have to merge it in develop branch or main?

[2021-03-22 10:59] khareyash05 commented on #113
@ddvader44 Attached a PR Have a look!

[2021-03-22 14:12] #113 closed

[2021-03-23 04:36] RashikaJoshi-777 commented on #112
please assign this to me

[2021-03-23 05:22] ddvader44 commented on #112
go ahead @RashikaJoshi-777

[2021-03-23 07:11] namitgpta commented on #115
I want to work on this. Please assign this to me. I will add fragment for HackFeed.

[2021-03-23 09:23] kunal299 commented on #116
@riturajjain2000 I would love to contribute to this issue. Could you please assign this issue to me?

[2021-03-23 09:46] riturajjain2000 commented on #116
discuss your implementation idea on the Discord Server

[2021-03-23 09:46] riturajjain2000 commented on #115
discuss your implementation idea on the Discord Server

[2021-03-23 11:20] venkatesh1226 commented on #102
I want to work on it if possible.

[2021-03-23 12:15] SanjayDevTech commented on #116
I also would like to contribute to this issue

[2021-03-23 14:49] hemant2705 commented on #102
I have already finished doing this task.
just resolving the conflicts .
give me a day or two ,then you can proceed ahead.

[2021-03-23 15:03] #99 closed

[2021-03-24 06:56] #100 closed

[2021-03-24 07:14] riturajjain2000 commented on #111
Now you can work on it

[2021-03-24 07:55] RashikaJoshi-777 commented on #111
ok

[2021-03-24 10:04] riturajjain2000 commented on #112
I think this feature should be under the Hackfeed fragment only
use 2 tabs , One for the news and the second for Events

[2021-03-25 06:28] venkatesh1226 commented on #114
I want to work on it
If possible could you assign me.

[2021-03-25 06:35] hemant2705 commented on #60
@Khushi-24 Are you still working upon it if yes how much more time you needed ,if no I want to take over it .

[2021-03-25 07:33] GowthamGoush opened #124 "Add enter animation for recyclerview of Explore fragment"
✔️ Implement enter animation to items of the recycler view.
✔️ Add slide/fall animation to these items.
✔️ Animation occurs on switching to Explore fragment.
✔️ It intensifies the user interface.

[2021-03-25 08:09] rohittrimalle commented on #124
i can work on this issue

[2021-03-25 09:43] codeankit10 commented on #60
I am a GSSOC participant. Can I work in this issue?

[2021-03-25 09:47] codeankit10 commented on #93
I am a GSSOC participant. Can I work in this issue?

[2021-03-25 10:06] Khushi-24 commented on #60
Yes, I am working on this issue. Sorry for the delay. I got a bit busy due to my exams and Project Presentation which just got completed Yesterday.

[2021-03-25 11:20] riturajjain2000 commented on #124
do you want to work on this @GowthamGoush , or should I assign this to @rohittrimalle ?

[2021-03-25 12:21] GowthamGoush commented on #124
Oops! Actually, I started working on it

[2021-03-25 13:55] GowthamGoush commented on #93
I'm actually working on this issue. I believe this is closed by mistake since the email login feature is yet to be implemented.

[2021-03-25 15:38] #102 closed

[2021-03-26 05:24] #107 closed

[2021-03-26 05:34] ANUJAGRAWAL2000 commented on #117
Hey @riturajjain2000 I want to contribute to this project. Can u please describe this in more detail like what we have to do in this?

[2021-03-26 05:38] riturajjain2000 commented on #117
Discuss on Discord Server
As The other participants can give ideas that we may skip here

[2021-03-26 05:40] ANUJAGRAWAL2000 commented on #117
Sure

[2021-03-26 06:26] ANUJAGRAWAL2000 commented on #117
@riturajjain2000 I want to work on this issue I have discuss on discord about this issue.

[2021-03-26 06:27] #97 closed

[2021-03-26 06:28] #5 closed

[2021-03-26 10:48] hemant2705 commented on #58
What  is left to do regarding this issue?

[2021-03-26 11:55] hemant2705 opened #127 "Adding Terms Of service and contactus"
I want to add terms of service and contact us fragment .

[2021-03-26 11:56] hemant2705 commented on #127
can you please assign this to me

[2021-03-26 13:07] riturajjain2000 commented on #58
Nothing has been done , you have to implement it fully

[2021-03-26 13:20] riturajjain2000 commented on #127
we dont have a finalised contact info as of now , will assign you when we have that figured out

[2021-03-26 13:30] #114 closed

[2021-03-26 16:18] #124 closed

[2021-03-26 16:24] GowthamGoush opened #129 "Add enter animation for recyclerview of JobHunt fragment"
✔️ Implement enter animation to items of the recycler view.
✔️ Add slide/fall animation to these items.
✔️ Animation occurs on switching to JobHunt fragment (for both Job portals and Opportunities).
✔️ It intensifies the user interface.

[2021-03-26 17:56] ddvader44 commented on #129
go ahead @GowthamGoush

[2021-03-27 09:39] #91 closed

[2021-03-27 15:34] adrishyantee commented on #109
If the issue is not addressed, can I work on this?

[2021-03-27 15:41] GowthamGoush commented on #109
Actually, I'm on to this and waiting for the email login feature to be implemented.

[2021-03-28 20:00] Khushi-24 commented on #24
@riturajjain2000 Can I work on this issue?

[2021-03-28 20:04] Khushi-24 commented on #58
@riturajjain2000 Can I work on this issue if no one is working on it?

[2021-03-28 20:07] Khushi-24 commented on #48
Can I also work on this?

[2021-03-28 21:44] hagerk720 opened #133 "Google login not working"
nothing happen after login

[2021-03-29 01:14] snehagarg-bit commented on #58
Can I work on this issue  ?

[2021-03-29 04:06] GowthamGoush commented on #133
Hey, @hagerk720, you have to share your SHA1 key with the project maintainer @riturajjain2000, and it will work perfectly once you do this.

[2021-03-29 20:03] hagerk720 commented on #133
sorry put what you meaning of SHA1 ?

[2021-03-30 03:57] GowthamGoush commented on #133
SHA-1 fingerprint is a unique key generated for your PC that can be used for signing. You can find this unique key in your android studio.

[2021-03-30 08:23] #133 closed

[2021-03-30 11:06] rahulsain commented on #24
Hey , can I work on this?

[2021-03-30 11:24] rahulsain opened #134 "Sign in with google is not working"
This is the trace stack:
`W/Login: Google sign in failed
    com.google.android.gms.common.api.ApiException: 10:
        at com.google.android.gms.common.internal.ApiExceptionUtil.fromStatus(com.google.android.gms:play-services-base@@17.6.0:3)
        at com.google.android.gms.auth.api.signin.GoogleSignIn.getSignedInAccountFromIntent(com.google.android.gms:play-services-auth@@19.0.0:9)
        at

[2021-03-30 14:30] riturajjain2000 commented on #24
@Khushi-24 is working on it ,  look other issues to fix

[2021-03-30 14:31] riturajjain2000 commented on #134
Not an issue , needs your SHA keys to be added

[2021-03-30 14:31] #134 closed

[2021-03-30 14:40] rahulsain commented on #134
@riturajjain2000 Every user on play store needs to add their SHA keys?

[2021-03-30 14:45] riturajjain2000 commented on #134
No , only developers

[2021-03-30 16:00] #115 closed

[2021-03-31 06:58] prasannathapa opened #138 "Added Notification Service"
It would be great to Add Notification Service
when new data is Added, the user will get notified

[2021-03-31 07:02] viralkumar28 opened #139 "Enhancement of UI/UX in Hackfeed and providing swipe feature."
- Read more and the time given is overlapping, needs improvement.
-  I will provide swipe feature in between both the tabs Latest News and Events.
![new](https://user-images.githubusercontent.com/55316718/113103460-eeea3c80-921c-11eb-9a95-67d16659a1bf.jpg)

[2021-03-31 09:13] #24 closed

[2021-03-31 15:13] #138 closed

[2021-03-31 19:40] hagerk720 opened #143 "Problem in profile fragment"
The whole page of profile fragment does't appere and does't scroll
Please assign this issue to me (gssoc 21)
![Screenshot_20210331-213333_CS wala](https://user-images.githubusercontent.com/78926069/113201362-b3c22a80-9269-11eb-99a0-bc091976b9d5.jpg)

[2021-04-01 04:52] ddvader44 commented on #143
go ahead @hagerk720

[2021-04-01 05:10] GowthamGoush opened #144 "Add a dialog to confirm exit"
💠 Generally, on back pressed, the application exits to the mobile home screen.
💠 Sometimes, this might deprive the user experience if the user presses the back key accidentally.
💠 Therefore, it is wise to seek confirmation before exiting the app on back pressed with either a dialog or a toast.

[2021-04-02 13:59] #60 closed

[2021-04-02 15:09] #58 closed

[2021-04-03 08:47] #117 closed

[2021-04-03 10:21] jonathanalvares9009 commented on #74
@riturajjain2000 can I work on this issue?

[2021-04-05 06:33] #143 closed

[2021-04-05 10:06] GowthamGoush commented on #92
Shall I work on this now?

[2021-04-06 06:15] KartikBhargava opened #148 "Add Mvvm Architecture to this app. UI enahncements and intorduce hilt architecture to the code."

[2021-04-09 03:47] GowthamGoush commented on #92
Should I reduce the size of the navbar for landscape variation? If so, then can you share the exact size I should follow.

[2021-04-09 06:23] riturajjain2000 commented on #92
See if you can move the navbar from bottom to left side

[2021-04-09 13:50] #92 closed

[2021-04-09 18:09] SanjayDevTech commented on #111
Can I also work in this issue

[2021-04-10 18:14] SanjayDevTech opened #152 "Social login have to be Consistent with email login"
In social login, we can get display name from the user object itself... But if the user registers via email & password, there is no way to retrieve the name until the user provides his name and we stored it in the separate place.

It won't be a problem now, but it will affect community chat section.. Because without name, it will just display "Unknown".

Conclusion: Add a name field in email passw

[2021-04-10 18:14] SanjayDevTech commented on #152
And I would like to contribute to this issue : )

[2021-04-10 19:15] Khushi-24 commented on #109
@riturajjain2000 Is the issue resolved? If not can I work on this?

[2021-04-11 08:20] #109 closed

[2021-04-11 08:53] #111 closed

[2021-04-11 12:11] RashikaJoshi-777 opened #154 "adding files left for edit profile"
Updating edit profile by uploading missed files

[2021-04-11 12:25] #154 closed

[2021-04-12 11:57] deepsjuneja commented on #139
Can I work on this issue?

[2021-04-12 15:03] riturajjain2000 commented on #139
I have assigned @viralkumar28 also as he completed work on one part of the issue

[2021-04-12 16:37] Khushi-24 commented on #112
@RashikaJoshi-777  Are you still working on this issue?

[2021-04-12 16:59] GowthamGoush opened #157 "Fix data fetch issue"
- Toast pops up when data fetch fails.
- One of the reason could be "Resource exhaustion" in Firebase.
<div align = "center">
<img src="https://user-images.githubusercontent.com/63305824/114432275-21614580-9bde-11eb-98e4-b484298b8cf3.png" width="200" height="400" />
</div>

[2021-04-12 17:30] ddvader44 commented on #157
How are you planning to improve/fix this?

[2021-04-12 17:34] GowthamGoush commented on #157
I don't think this could be solved by a participant since this issue seems to be from firebase.

[2021-04-12 17:50] RashikaJoshi-777 commented on #112
i was working on implementing edit profile feature and that completed yesterday only and now i am having exams so i will come to this issue after my exams get over

[2021-04-13 10:17] ddvader44 commented on #157
@riturajjain2000 can you please look into this?

[2021-04-14 10:34] riturajjain2000 commented on #157
I'll check

[2021-04-15 09:16] KartikBhargava opened #158 "Make Code More Modular according to features"

[2021-04-16 06:54] #93 closed

[2021-04-16 07:31] #157 closed

[2021-04-16 08:29] ayushman999 opened #160 "Implementing personal Information activity."
My aim will be to create an activity that shows the personal details related to CSwala project. I'll be fetching some data from the account and if necessary I've to create a firestore collection for the personal details so that all the data comes from a single place.

[2021-04-16 09:43] riturajjain2000 commented on #160
Use Realtime db instead

[2021-04-16 14:09] deepsjuneja commented on #144
Can I work on this issue?

[2021-04-16 14:21] deepsjuneja commented on #30
Can I work on this issue?

[2021-04-16 16:37] GowthamGoush commented on #144
I'm working on this

[2021-04-17 06:51] #144 closed

[2021-04-17 06:52] #139 closed

[2021-04-17 07:04] deepsjuneja commented on #30
@riturajjain2000 you haven't assigned me the issue yet.

[2021-04-17 07:07] riturajjain2000 commented on #30
done

[2021-04-17 07:15] riturajjain2000 opened #163 "App Crashing on clicking TechDataActivity's Items"
While on TechDataActivity , if the user clicks any on the RichlinkView to check the link in the WebView the app is crashing

[2021-04-17 07:18] riturajjain2000 opened #164 "Job Portal's should open inside app"
The career pages from the portal's section are opening in browser as of now , they should open inside the app's websview only

[2021-04-17 07:22] riturajjain2000 opened #165 "Implement the Opportunities Tab in the JOBHUNT Fragment"
The portals tab is already implemented, now the opportunities tab, containing information about job and Internship openings, is to be implemented

[2021-04-17 07:33] riturajjain2000 opened #166 "Add 'Best Practice' Section in the Explore Fragment"
The idea is to add a Card on top of the list which will contain the list of best practices/instructions that beginner's in the Computer Science field should do, like start contributing to FOSS, make LinkedIn account etc. kind of stuff

### **Discuss the implementation on the Discord server first**

[2021-04-17 08:19] viralkumar28 commented on #163
Hey, I want to work on this issue.

[2021-04-17 10:47] viralkumar28 commented on #74
Can I work on this issue?

[2021-04-17 12:36] GowthamGoush commented on #165
I'm interested in working on this, but from where do we fetch the data?

[2021-04-17 13:07] GowthamGoush commented on #163
May I fix this issue?

[2021-04-18 06:34] riturajjain2000 commented on #165
I think we should create a separate collection on the Firestore DB, any other ideas are welcome

[2021-04-18 07:46] #163 closed

[2021-04-18 07:48] riturajjain2000 opened #168 "Add Pagination"
Add Pagination to recycler views wherever required

[2021-04-18 08:55] GowthamGoush commented on #165
So we have to look for a free API right?

[2021-04-18 08:55] GowthamGoush commented on #168
I would like to work on this.

[2021-04-18 10:36] riturajjain2000 commented on #165
yeah , see if you can fetch the data from google jobs or any other site like naukri.com or intershala

[2021-04-18 14:11] ANUJAGRAWAL2000 commented on #166
I want to work on this issue,. Can u please define it in more detail?

[2021-04-19 16:35] viralkumar28 opened #170 "Create landscape variation for login with email, registration and reset password activities.."
- Adding landscape variation in login with email, registration and reset password page and enhancement of UI.

![image](https://user-images.githubusercontent.com/55316718/115272307-df934a80-a15b-11eb-82be-9b4bf166947a.png)

![image](https://user-images.githubusercontent.com/55316718/115275968-19665000-a160-11eb-9552-537112e59cf8.png)

![image](https://user-images.githubusercontent.com/55316718/115

[2021-04-19 16:35] viralkumar28 commented on #170
Assign me.

[2021-04-19 16:40] viralkumar28 opened #171 "Create landscape variation for Registration page."

[2021-04-19 16:40] viralkumar28 commented on #171
Assign me.

[2021-04-19 16:46] viralkumar28 opened #172 "Create landscape variation for reset password page"
- Adding landscape variation in reset password page.

![image](https://user-images.githubusercontent.com/55316718/115273169-dbb3f800-a15c-11eb-9d28-705a07e81d20.png)

[2021-04-19 16:46] viralkumar28 commented on #172
Assign me.

[2021-04-19 17:13] #171 closed

[2021-04-19 17:13] #172 closed

[2021-04-20 04:19] GowthamGoush commented on #164
Shall we make use of the pre-existing WebActivity for this?

[2021-04-20 06:24] sitamadex11 opened #173 "Add an search functionality in job portals page"
I want to work on this issue.

[2021-04-20 06:33] #74 closed

[2021-04-20 06:56] riturajjain2000 commented on #164
Yeah it should open there only

[2021-04-20 07:03] sitamadex11 commented on #173
Thankyou

[2021-04-20 07:10] GowthamGoush commented on #164
Cool. I'll take this issue.

[2021-04-20 09:01] GowthamGoush commented on #164
Fixing this was simple, so may I add enhancement to the web activity? It may be like adding an option to exit the webview without the actual need to press the back button. Also, I'll be glad to hear any suggestions from you.

[2021-04-20 10:57] riturajjain2000 commented on #164
ok go ahead , also see if you can add the "see as desktop site functionality" , like in chrome there is this feature which is very helpful

[2021-04-21 03:44] GowthamGoush commented on #164
Yeah, sure, I'll try that too.

[2021-04-21 04:21] GowthamGoush commented on #165
I couldn't find a free API for jobs based in India. So will web scraping with the help of a library be a good idea?

[2021-04-21 06:51] riturajjain2000 commented on #165
can you elaborate this process over discord channel, I mean what libraries will you use and how will you implement this workflow

[2021-04-21 15:07] ayushman999 opened #174 "Bug while updating the personal information."
When the user edits its profile all the data get saved for that time but get's change after some time due to some other user's activity in the edit profile. I'll resolve this bug and set the rules for the real-time database.

[2021-04-22 10:52] #170 closed

[2021-04-22 14:20] #173 closed

[2021-04-22 14:25] sitamadex11 opened #178 "App crashing at time of changing orientation (Bug)"
When I have changed the orientation from portrait to landscape works fine. but again when tries to change the orientation from landscape to portrait the app is crashing.
I want to resolve this issue.

[2021-04-22 15:37] #178 closed

[2021-04-22 15:44] riturajjain2000 opened #180 "Add Content to Onboarding Screens"
The Onboarding Screens are to be updated with Proper Details and Description

[2021-04-22 15:44] riturajjain2000 opened #181 "Design a new Illustration for Splash Screen"
A new illustration is to be designed for the app

[2021-04-23 15:12] sitamadex11 opened #182 "Open Latest News inside the app"
to read latest news we need to open our browser but we can open it inside our app also by using webview.
I want to work on this issue @riturajjain2000

[2021-04-24 07:38] sitamadex11 commented on #165
I want to work on this issue

[2021-04-24 07:51] sitamadex11 commented on #182
may I work on this?

[2021-04-25 14:45] #160 closed

[2021-04-25 14:45] #174 closed

[2021-05-01 14:20] #182 closed

[2021-05-07 10:28] Khushi-24 commented on #180
@riturajjain2000 Can I work on this issue?

[2021-05-07 10:29] Khushi-24 commented on #181
@riturajjain2000 Can I work on this issue?

[2021-05-07 15:35] gargijs commented on #181
I want to work on this.

[2021-05-07 15:36] gargijs commented on #180
I want to work on this.

[2021-05-12 18:30] deepsjuneja commented on #168
Can I work on this issue?

[2021-05-17 12:32] #181 closed

[2021-05-20 07:57] #112 closed

[2021-05-22 08:12] ddvader44 commented on #168
@deepsjuneja what's the progress?

[2021-05-22 08:15] ddvader44 commented on #180
@Khushi-24 what's the progress?

[2021-05-22 08:32] Khushi-24 commented on #180
@ddvader44 Yes I am on it. It will be completed by tomorrow.

[2021-05-22 08:50] deepsjuneja commented on #168
I'm working on it. Hopefully, I'll generate the PR within a couple of days.

[2021-05-23 13:58] #30 closed

[2021-05-24 08:30] Khushi-24 commented on #180
@ddvader44 @riturajjain2000 Please review it.

[2021-05-26 08:11] #180 closed

[2021-05-31 14:51] #168 closed

[2021-06-12 14:10] nidhisingh-1 commented on #129
Can I work on this issue?

[2021-06-12 18:19] nidhisingh-1 opened #194 "Remove warning signs so that it does not overlap visibility toggle"
Shifting the warning signs/message below text-
input so that the warning sign does not overlap with password visibility toggle
<img src = "https://user-images.githubusercontent.com/61702147/121785629-6e5e9980-cbd8-11eb-9f53-cc5ee643981c.jpg" height= 400px width =200>

[2021-06-12 18:21] nidhisingh-1 commented on #194
Can I work on this issue?

[2021-06-13 08:44] riturajjain2000 commented on #194
Email Login Screen is no longer a part of the app

[2021-06-13 08:44] #194 closed

[2021-06-13 10:35] nidhisingh-1 commented on #194
Okay! Got it.

[2021-06-15 09:49] Rohit-2602 opened #196 "Add Image To Community Message"
In Community, now users can also attach Image with Text.

[2021-06-15 09:49] Rohit-2602 commented on #196
@riturajjain2000 Can you please assign this issue to me.

[2021-06-16 06:29] Rohit-2602 commented on #196
@riturajjain2000 PR is up.

[2021-06-16 06:44] #196 closed

[2022-10-20 15:35] SanjayDevTech commented on #48
@riturajjain2000 we can close this issue for now ?!

[2022-10-20 15:39] SanjayDevTech commented on #116
@riturajjain2000 We can close this issue. PR that fixes this issue: https://github.com/CSwala/CSwala-android/pull/149

[2022-10-21 14:47] #48 closed

[2022-10-22 18:44] SanjayDevTech commented on #152
@riturajjain2000 I think you have resetted the project, got this from the commit history.
So better to close this issue. Closing by myself :)

[2022-10-22 18:44] #152 closed